* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  color: #222;
  line-height: 1.25;
  background: #f0ffff;
  padding: 32px;
}

.dark-mode {
  filter: invert(100%);
  transition: all 0.5s;
}

.btn-dark-mode {
  position: fixed;
  top: 0;
  right: 0;
  padding: 16px;
  line-height: 1;
  font-size: 26px;
  background-color: #ffe8cc;
  border: none;
}

section {
  max-width: 1140px;
  margin: 0 auto;
}

header {
  margin-bottom: 32px;
  font-weight: bold;

  justify-content: space-between;
  display: flex;
}

h1 {
  font-size: 26px;
  display: flex;
  gap: 8px;
  align-items: center;
}

h1 span {
  font-size: 140%;
  line-height: 1;
}

h2 {
  text-transform: uppercase;
  margin-bottom: 24px;
  color: #333;
}

h3 {
  text-transform: capitalize;
  margin-bottom: 16px;
  color: #333;
}

header div {
  display: flex;
  gap: 32px;
  align-items: center;
}

header button {
  font-size: 14px;
}

form {
  padding: 24px;
  background-color: #fff4e6;
  display: flex;
  gap: 24px;
  margin-bottom: 40px;
}

main {
  margin-bottom: 40px;
}

aside {
  margin-bottom: 40px;
  opacity: 75%;
}

input,
textarea,
button {
  font-size: 16px;
  padding: 8px 12px;
  border: 1px solid #ffe8cc;
  font-family: inherit;
  color: inherit;
}

input {
  width: 12rem;
}

*::placeholder {
  color: #999;
}

*:focus {
  outline: 2px solid #ffa94d;
  border-radius: 2px;
}

textarea {
  flex: 1;
  height: 50px;
}

button {
  border: 1px solid #ffa94d;
  background-color: #ffa94d;
  font-weight: 700;
  padding: 9px 24px;
  cursor: pointer;
  border-radius: 8%;
}

h3 {
  text-transform: capitalize;
  margin-bottom: 16px;
  color: #333;
}

.cta:link,
.cta:visited {
  display: inline-block;
  background-color: #ffa94d;
  color: #2d3439;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 3rem;
  border-radius: 5px;
}

/* COMMENT BOX */
.box {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
  background-color: #f7f7f7;
}

/*HOMEPAGE*/
.homepage {
  height: calc(100vh - 5rem);
  margin: 2.5rem;
  background-image: linear-gradient(
      rgba(36, 42, 46, 0.8),
      rgba(36, 42, 46, 0.8)
    ),
    url("../public/bg.jpg");
  background-size: cover;
  background-position: center;
  padding: 2.5rem 5rem;
}

.homepage section {
  display: flex;
  flex-direction: column;
  height: 85%;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  text-align: center;
}

.homepage h1 {
  font-size: 4.5rem;
  line-height: 1.3;
  color: #ececec;
}

.homepage h2 {
  width: 90%;
  font-size: 1.9rem;
  color: #ececec;
  margin-bottom: 2.5rem;
}
/* NAV */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: #42484d;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
}
.nav a:link:hover,
.nav a:visited:hover {
  background-color: #ffe8cc;
}
/* FORM */
.login {
  margin: 2.5rem;
  padding: 2.5rem 5rem;
  min-height: calc(100vh - 5rem);
}

.form {
  border-radius: 7px;
  padding: 2rem 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  /* Different from other form */
  width: 48rem;
  margin: 8rem auto;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input,
textarea {
  width: 100%;
  padding: 0.8rem 1.2rem;
  font-family: inherit;
  font-size: 1.6rem;
  border: none;
  border-radius: 5px;
  background-color: var(--color-light--3);
  transition: all 0.2s;
}

input:focus {
  outline: none;
  background-color: #fff;
}
